<h1>Hi {{currentUser.firstName}}!</h1>
<h3 *ngIf="!isUpdate">All registered users:</h3><p><a [routerLink]="['/login']">Logout</a></p>
<button *ngIf="!isUpdate" style="background-color: rgb(43, 177, 182) ;margin-right: 10%;" (click)="createUser(user)">create user </button>
<input *ngIf="!isUpdate"  #box type="search" (keyup)="search(box.value ,false)" placeholder="Global serach">
<table *ngIf="!isUpdate" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 20%">
            First Name
        </th>
        <th style="width: 50%">
            Last Name
        </th>
        <th style="width: 10%">
            Email
        </th>
        <th style="width: 20%">
           Mobile Number
        </th>
        <th style="width: 20%">
            Actions
         </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users| paginate: config">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td class="text-right">{{user.email}}</td>
        <td>{{user.mobileNumber}}</td>
        <td>
         <button style="background-color: rgb(122, 21, 21);" (click)="removeUser(user)">remove </button>
          <button style="background-color: rgb(43, 177, 182);" (click)="updateUser(user)">update </button>
        </td>
    </tr>
    </tbody>
    <tfoot>
    </tfoot>
  </table>
  
  <pagination-controls *ngIf="!isUpdate" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
  <form *ngIf="isUpdate" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
        <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
            <div *ngIf="f.firstName.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
        <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
            <div *ngIf="f.lastName.errors.required">Last Name is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="mobileNumber">Mobile Number</label>
        <input type="number" formControlName="mobileNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" />
        <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
            <div *ngIf="f.mobileNumber.errors.required">Mobile number is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
        </div>
    </div>
   
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">Update</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        <a (click)="back()" class="btn btn-link">back to dashbaord</a>
    </div>
</form>